<%- include ../layouts/cabeza.ejs %> 

<%- include ../layouts/cabecera.ejs %> 

<%- include ../layouts/menu-lateral.ejs%> 

<main class="page-content" id="page-content">

  <div class="page-content-container">
    <h2>Reportes</h2>
  </div>

</main>

<%- include ../layouts/pie.ejs%> 
