<%- include ../layouts/cabeza.ejs %> 
<link rel="stylesheet" href="/stylesheets/form.css">
<link rel="stylesheet" href="/stylesheets/reports/reports.css">
<%- include ../layouts/cabecera.ejs %> 

<%- include ../layouts/menu-lateral.ejs%> 

<main class="page-content" id="page-content">

  <div class="page-content-container">

    <header>
      <h1>Generar reporte</h1> 
    </header>

    <section class="col-md-6">
      <form action="#" class="form">
        <div class="field">
          <label class="field-label" for="reporte-de">Reporte de:</label>
          <select class="field-input" name="reporte_de" id="report" required>
            <option value="">Seleccione una opción</option>
            <option value="1">Entradas</option>
            <option value="2">Salidas</option>
          </select>
        </div>
        <div class="field">
          <label class="field-label" for="tipo-reporte">Tipo de reporte:</label>
          <select class="field-input" name="tipo_reporte" id="typeOfReport" required>
            <option value="">Seleccione una opción</option>
            <option value="1">General</option>
            <option value="2">Detallado</option>
          </select>
        </div>
        <div class="field">
          <label class="field-label" for="fecha-inicio">Fecha inicial:</label>
          <input class="field-input" value="" id="fecha-inicio" type="date" name="fecha_inicio" required>
        </div>
        <div class="field">
          <label class="field-label" for="fecha-final">Fecha final:</label>
          <input class="field-input" value="" id="fecha-final" type="date" name="fecha_final" required>
        </div>
        <div class="buttons-container">
          <button class="button-form" type="button">
            <span class="button-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M3 5v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2zm7 2h8v2h-8V7zm0 4h8v2h-8v-2zm0 4h8v2h-8v-2zM6 7h2v2H6V7zm0 4h2v2H6v-2zm0 4h2v2H6v-2z"></path></svg>
              <span class="button-text">Excel</span>           
             </span>
          </button>
          <button class="button-form button-primary" type="submit">
            <span class="button-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M8.267 14.68c-.184 0-.308.018-.372.036v1.178c.076.018.171.023.302.023.479 0 .774-.242.774-.651 0-.366-.254-.586-.704-.586zm3.487.012c-.2 0-.33.018-.407.036v2.61c.077.018.201.018.313.018.817.006 1.349-.444 1.349-1.396.006-.83-.479-1.268-1.255-1.268z"></path><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zM9.498 16.19c-.309.29-.765.42-1.296.42a2.23 2.23 0 0 1-.308-.018v1.426H7v-3.936A7.558 7.558 0 0 1 8.219 14c.557 0 .953.106 1.22.319.254.202.426.533.426.923-.001.392-.131.723-.367.948zm3.807 1.355c-.42.349-1.059.515-1.84.515-.468 0-.799-.03-1.024-.06v-3.917A7.947 7.947 0 0 1 11.66 14c.757 0 1.249.136 1.633.426.415.308.675.799.675 1.504 0 .763-.279 1.29-.663 1.615zM17 14.77h-1.532v.911H16.9v.734h-1.432v1.604h-.906V14.03H17v.74zM14 9h-1V4l5 5h-4z"></path></svg>
              <span class="button-text">PDF</span>           
             </span>
          </button>
        </div>
      </form>
    </section>

  </div>

</main>

<script src="/javascripts/setDate.js"></script>
<%- include ../layouts/pie.ejs%> 
