.button-new {
  width: 13.125rem;
  margin-left: 0;
}

h1 {
  color: var(--textGray);
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--borderGray);
}

.result-area {
  max-height: none;
  overflow-y:auto
}

.material-needed {
  color: red;
}
