<nav class="menu-side" id="menu-side">
  <div class="options-menu">
    <a href="/users">
      <div class="option">    
        <span class="option-icon">
          <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
        </span>
        <h4>Usuarios</h4>
      </div>
    </a>
    <a href="/clients">
      <div class="option">
        <span class="option-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"><path d="M9.5 12c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm1.5 1H8c-3.309 0-6 2.691-6 6v1h15v-1c0-3.309-2.691-6-6-6z"></path><path d="M16.604 11.048a5.67 5.67 0 0 0 .751-3.44c-.179-1.784-1.175-3.361-2.803-4.44l-1.105 1.666c1.119.742 1.8 1.799 1.918 2.974a3.693 3.693 0 0 1-1.072 2.986l-1.192 1.192 1.618.475C18.951 13.701 19 17.957 19 18h2c0-1.789-.956-5.285-4.396-6.952z"></path></svg>
        </span>
        <h4>Clientes</h4>
      </div>
    </a>
    <a href="/suppliers">
      <div class="option">
        <span class="option-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"><path d="M19.15 8a2 2 0 0 0-1.72-1H15V5a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 1 1.73 3.49 3.49 0 0 0 7 .27h3.1a3.48 3.48 0 0 0 6.9 0 2 2 0 0 0 2-2v-3a1.07 1.07 0 0 0-.14-.52zM15 9h2.43l1.8 3H15zM6.5 19A1.5 1.5 0 1 1 8 17.5 1.5 1.5 0 0 1 6.5 19zm10 0a1.5 1.5 0 1 1 1.5-1.5 1.5 1.5 0 0 1-1.5 1.5z"></path></svg>
        </span>
        <h4>Suplidores</h4>
      </div>
    </a>
    <a href="/products">
      <div class="option">
        <span class="option-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor"><path d="M18.9 21 13.425 15.525 15.525 13.425 21 18.9ZM5.1 21 3 18.9 9.9 12 8.2 10.3 7.5 11 6.225 9.725V11.775L5.525 12.475L2.5 9.45L3.2 8.75H5.25L4 7.5L7.55 3.95Q8.05 3.45 8.625 3.225Q9.2 3 9.8 3Q10.4 3 10.975 3.225Q11.55 3.45 12.05 3.95L9.75 6.25L11 7.5L10.3 8.2L12 9.9L14.25 7.65Q14.15 7.375 14.088 7.075Q14.025 6.775 14.025 6.475Q14.025 5 15.038 3.987Q16.05 2.975 17.525 2.975Q17.9 2.975 18.238 3.05Q18.575 3.125 18.925 3.275L16.45 5.75L18.25 7.55L20.725 5.075Q20.9 5.425 20.963 5.762Q21.025 6.1 21.025 6.475Q21.025 7.95 20.013 8.962Q19 9.975 17.525 9.975Q17.225 9.975 16.925 9.925Q16.625 9.875 16.35 9.75Z"/></svg>
        </span>
        <h4>Productos</h4>
      </div>
    </a>
    <a href="/entries">
      <div class="option">
        <span class="option-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"><path d="M20 4H4c-1.103 0-2 .897-2 2v2h20V6c0-1.103-.897-2-2-2zM2 18c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-6H2v6zm3-3h6v2H5v-2z"></path></svg>
        </span>
        <h4>Entradas</h4>
      </div>
    </a>
    <a href="/sales">
      <div class="option">
        <span class="option-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor"><path d="M16 11Q16.425 11 16.712 10.712Q17 10.425 17 10Q17 9.575 16.712 9.287Q16.425 9 16 9Q15.575 9 15.288 9.287Q15 9.575 15 10Q15 10.425 15.288 10.712Q15.575 11 16 11ZM8 9H13V7H8ZM4.5 21Q3.75 18.525 3.275 16.75Q2.8 14.975 2.513 13.662Q2.225 12.35 2.112 11.375Q2 10.4 2 9.5Q2 7.2 3.6 5.6Q5.2 4 7.5 4H12.5Q13.175 3.1 14.213 2.55Q15.25 2 16.5 2Q17.125 2 17.562 2.438Q18 2.875 18 3.5Q18 3.65 17.962 3.8Q17.925 3.95 17.875 4.075Q17.775 4.35 17.688 4.625Q17.6 4.9 17.55 5.225L19.825 7.5H22V14.475L19.175 15.4L17.5 21H12V19H10V21Z"/></svg>
        </span>
        <h4>Salidas</h4>
      </div>
    </a>
    <a href="/quote">
      <div class="option">
        <span class="option-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor"><path d="M6 22Q5.175 22 4.588 21.413Q4 20.825 4 20V4Q4 3.175 4.588 2.587Q5.175 2 6 2H14L20 8V20Q20 20.825 19.413 21.413Q18.825 22 18 22ZM11 19H13V18H14Q14.425 18 14.713 17.712Q15 17.425 15 17V14Q15 13.575 14.713 13.287Q14.425 13 14 13H11V12H15V10H13V9H11V10H10Q9.575 10 9.288 10.287Q9 10.575 9 11V14Q9 14.425 9.288 14.712Q9.575 15 10 15H13V16H9V18H11ZM13.175 8H17.175L13.175 4Z"/></svg>
        </span>
         <h4>Cotizar</h4>
      </div>
    </a>
    <a href="/materials">
      <div class="option">
        <span class="option-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor"><path d="M6 22Q5.175 22 4.588 21.413Q4 20.825 4 20V4Q4 3.175 4.588 2.587Q5.175 2 6 2H14L20 8V20Q20 20.825 19.413 21.413Q18.825 22 18 22ZM13 9H18L13 4ZM8 14H16V12H8ZM8 18H16V16H8Z"/></svg>
        </span>
        <h4>Materiales</h4>
      </div>
    </a>
    <a href="/reports">
      <div class="option">
        <span class="option-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"><path d="M13 6h2v11h-2zm4-3h2v14h-2zM9 9h2v8H9zM4 19h16v2H4zm1-7h2v5H5z"></path></svg>
        </span>
        <h4>Reportes</h4>
      </div>
    </a>
  </div>
</nav>