<% if (success.length > 0) { %>
  <div class="message" id="message" role="alert">
    <div class="messaje-container">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="80px" viewBox="0 0 80 80" version="1.1">
          <g id="surface1">
          <path style=" stroke:none;fill-rule:nonzero;fill:#0f73ee;fill-opacity:1;" d="M 34.917969 56.417969 L 59.417969 31.917969 L 53.917969 26.417969 L 34.917969 45.417969 L 25.667969 36.167969 L 20.25 41.667969 Z M 40 75.417969 C 35.109375 75.417969 30.515625 74.5 26.207031 72.667969 C 21.902344 70.832031 18.140625 68.304688 14.917969 65.082031 C 11.695312 61.859375 9.167969 58.097656 7.332031 53.792969 C 5.5 49.484375 4.582031 44.890625 4.582031 40 C 4.582031 35.054688 5.5 30.429688 7.332031 26.125 C 9.167969 21.820312 11.695312 18.070312 14.917969 14.875 C 18.140625 11.679688 21.902344 9.152344 26.207031 7.292969 C 30.515625 5.429688 35.109375 4.5 40 4.5 C 44.945312 4.5 49.570312 5.429688 53.875 7.292969 C 58.179688 9.152344 61.929688 11.679688 65.125 14.875 C 68.320312 18.070312 70.847656 21.820312 72.707031 26.125 C 74.570312 30.429688 75.5 35.054688 75.5 40 C 75.5 44.890625 74.570312 49.484375 72.707031 53.792969 C 70.847656 58.097656 68.320312 61.859375 65.125 65.082031 C 61.929688 68.304688 58.179688 70.832031 53.875 72.667969 C 49.570312 74.5 44.945312 75.417969 40 75.417969 Z M 40 75.417969 "/>
          </g>
        </svg>
      </span>
      <h3>Éxito</h3>
      <p> <%= success %> </p>
      <button id="close-message">Continuar</button>
    </div>
  </div>  
<% } %>

<% if (msg.length > 0) { %>
  <div class="message" id="message" role="alert">
    <div class="messaje-container messaje-error">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="80px" viewBox="0 0 80 80" version="1.1">
          <g id="surface1">
          <path style=" stroke:none;fill-rule:nonzero;fill:red;fill-opacity:1;" d="M 28.246094 56 L 40 44.246094 L 51.753906 56 L 56 51.753906 L 44.246094 40 L 56 28.246094 L 51.753906 24 L 40 35.753906 L 28.246094 24 L 24 28.246094 L 35.753906 40 L 24 51.753906 Z M 40 72 C 35.609375 72 31.472656 71.167969 27.585938 69.5 C 23.695312 67.832031 20.292969 65.542969 17.375 62.625 C 14.457031 59.707031 12.167969 56.304688 10.5 52.414062 C 8.832031 48.527344 8 44.390625 8 40 C 8 35.554688 8.832031 31.402344 10.5 27.539062 C 12.167969 23.679688 14.457031 20.292969 17.375 17.375 C 20.292969 14.457031 23.695312 12.167969 27.585938 10.5 C 31.472656 8.832031 35.609375 8 40 8 C 44.445312 8 48.597656 8.832031 52.460938 10.5 C 56.320312 12.167969 59.707031 14.457031 62.625 17.375 C 65.542969 20.292969 67.832031 23.679688 69.5 27.539062 C 71.167969 31.402344 72 35.554688 72 40 C 72 44.390625 71.167969 48.527344 69.5 52.414062 C 67.832031 56.304688 65.542969 59.707031 62.625 62.625 C 59.707031 65.542969 56.320312 67.832031 52.460938 69.5 C 48.597656 71.167969 44.445312 72 40 72 Z M 40 72 "/>
          </g>
        </svg>
      </span>
      <h3>Error</h3>
      <p> <%= msg %> </p>
      <button id="close-message">Continuar</button>
    </div>
  </div>  
<% } %>

<% if (generateInvoice.length > 0) { %>
  <div class="message" id="message" role="alert">
    <div class="messaje-container">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="80px" viewBox="0 0 80 80" version="1.1">
          <g id="surface1">
          <path style=" stroke:none;fill-rule:nonzero;fill:#0f73ee;fill-opacity:1;" d="M 34.917969 56.417969 L 59.417969 31.917969 L 53.917969 26.417969 L 34.917969 45.417969 L 25.667969 36.167969 L 20.25 41.667969 Z M 40 75.417969 C 35.109375 75.417969 30.515625 74.5 26.207031 72.667969 C 21.902344 70.832031 18.140625 68.304688 14.917969 65.082031 C 11.695312 61.859375 9.167969 58.097656 7.332031 53.792969 C 5.5 49.484375 4.582031 44.890625 4.582031 40 C 4.582031 35.054688 5.5 30.429688 7.332031 26.125 C 9.167969 21.820312 11.695312 18.070312 14.917969 14.875 C 18.140625 11.679688 21.902344 9.152344 26.207031 7.292969 C 30.515625 5.429688 35.109375 4.5 40 4.5 C 44.945312 4.5 49.570312 5.429688 53.875 7.292969 C 58.179688 9.152344 61.929688 11.679688 65.125 14.875 C 68.320312 18.070312 70.847656 21.820312 72.707031 26.125 C 74.570312 30.429688 75.5 35.054688 75.5 40 C 75.5 44.890625 74.570312 49.484375 72.707031 53.792969 C 70.847656 58.097656 68.320312 61.859375 65.125 65.082031 C 61.929688 68.304688 58.179688 70.832031 53.875 72.667969 C 49.570312 74.5 44.945312 75.417969 40 75.417969 Z M 40 75.417969 "/>
          </g>
        </svg>
      </span>
      <h3>Éxito</h3>
      <p><%= generateInvoice %> </p>
      <div class="message-buttons-container">
        <form method="get" action="/quote/downloadInvoice">
          <button type="button" id="close-message">Cancelar</button>
          <button type="submit" id="generatePDF">Factura</button>
        </form>
      </div>
    </div>
  </div>  
<% } %>

<% if (generateQuote.length > 0) { %>
  <div class="message" id="message" role="alert">
    <div class="messaje-container">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="80px" viewBox="0 0 80 80" version="1.1">
          <g id="surface1">
          <path style=" stroke:none;fill-rule:nonzero;fill:#0f73ee;fill-opacity:1;" d="M 34.917969 56.417969 L 59.417969 31.917969 L 53.917969 26.417969 L 34.917969 45.417969 L 25.667969 36.167969 L 20.25 41.667969 Z M 40 75.417969 C 35.109375 75.417969 30.515625 74.5 26.207031 72.667969 C 21.902344 70.832031 18.140625 68.304688 14.917969 65.082031 C 11.695312 61.859375 9.167969 58.097656 7.332031 53.792969 C 5.5 49.484375 4.582031 44.890625 4.582031 40 C 4.582031 35.054688 5.5 30.429688 7.332031 26.125 C 9.167969 21.820312 11.695312 18.070312 14.917969 14.875 C 18.140625 11.679688 21.902344 9.152344 26.207031 7.292969 C 30.515625 5.429688 35.109375 4.5 40 4.5 C 44.945312 4.5 49.570312 5.429688 53.875 7.292969 C 58.179688 9.152344 61.929688 11.679688 65.125 14.875 C 68.320312 18.070312 70.847656 21.820312 72.707031 26.125 C 74.570312 30.429688 75.5 35.054688 75.5 40 C 75.5 44.890625 74.570312 49.484375 72.707031 53.792969 C 70.847656 58.097656 68.320312 61.859375 65.125 65.082031 C 61.929688 68.304688 58.179688 70.832031 53.875 72.667969 C 49.570312 74.5 44.945312 75.417969 40 75.417969 Z M 40 75.417969 "/>
          </g>
        </svg>
      </span>
      <h3>Éxito</h3>
      <p><%= generateQuote %> </p>
      <div class="message-buttons-container">
        <form method="get" action="/quote/downloadQuote">
          <button type="button" id="close-message">Cancelar</button>
          <button type="submit" id="generatePDF">Cotización</button>
        </form>
      </div>
    </div>
  </div>  
<% } %>