<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/grid.css">
  <link rel="stylesheet" href="/stylesheets/authentication/login.css">
  <title>Iniciar sesión</title>
</head>
<body>
  <header class="header">
    <div class="container-fluid  header-container">
      <div class="primary-items">
        <a href="login">
          <img class="logo-app" src="/images/Logo.png" alt="Logo">
        </a>
        <h1 class="title-header">JUCEBA COMERCIAL</h1>
      </div>
    </div>
  </header>
  <section class="page-content container">
    <div class="login-container">
      <div class="login-item">
          <h2>Juceba<br/>Comercial</h2>
      </div>
      <div class="login-form-container">
        <article class="padding">
          <header class="header-login">
            <h2 class="title-login">Iniciar sesión</h2>
          </header>
          <form method="post" action="/authentication/login" class="form">
            <div class="field">
              <label class="field-label" for="userName">Escriba su nombre de usuario</label>
              <input class="field-input" type="text" name="userName">
              <% if (msg.length > 0) { %>
                <p class="input-message"><%= msg %></p>
              <% } %>
            </div>
            <div class="field">
              <label class="field-label" for="password">Escriba su contraseña</label>
              <input class="field-input" type="password" name="password">
              <% if (incorrectPassword.length > 0) { %>
                <p class="input-message"><%= incorrectPassword %></p>
              <% } %>
            </div>
            <button class="button-login" type="submit">Iniciar sesión</button>
            <div class="forgot-password">
              <p>
                <a href="/authentication/createAccount">Crear una cuenta</a>
                | 
                <a href="">¿Olvidaste la contraseña?</a>
              </p>
            </div>
          </form>
        </article>
      </div>
    </div>
  </section>
</body>
</html>