.card {
  border: solid 1px rgba(0,0,0,.05);
  border-radius: 3px;
  background-color: #fff;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.card-container{
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.card-header-text {
  font-size: 1.1rem;
}

.form-container {
  margin-top: 1rem;
}

.form, .field:last-child{
  margin-bottom: 0;
}

.card-photo-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e6e4;
  width: 128px;
  height: 128px;
}

.card-icon-container{
  color: var(--textWhite);
}

.button {
  background-color:var(	--background-white);
  display: flex;
  border: 1px solid var(--borderGray200);
  padding: 0.5rem 0.5rem;
  margin-right: .5rem;
}

.buttons-container{
  display: flex;
}

.button-icon {
  display: flex;
}

.button-text {
  padding-left: 0.3rem;
}

.button-delete-icon {
  color: #4171ae;
}

.input-area {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.button-new {
  width: auto;
}

.result-area {
  display: flex;
  flex-wrap: wrap;
  max-height: 128px;
  overflow-y: scroll;
}

.result-area-header {
  color: var(--textGray);
  display: flex;
}

.Content {
  display: flex;
}

.result-area-header-title {
  flex: 0 0 auto;
  padding: 0 0.25rem 0 0.25rem;
  margin-top: 10px;
  border: 0;
}

.result-area-header-text {
  display: flex;
}

.result-area-header-title:last-child .result-area-header-text {
  justify-content: flex-end;
}

.result-area-header-title:nth-child(even) .result-area-header-text {
  justify-content: center;
}

.result-area-header-title {
  overflow-x: scroll;
  white-space: nowrap;
}

/*Ocultar scroll Chrome, Safari y Opera*/
.result-area-header-title::-webkit-scrollbar{
  display: none;
}

/*Ocultar scroll IE, EDGE y Firefox*/
.result-area-header-title{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.button-delete-icon {
  display: flex;
}

.buttons-container{
  margin-bottom: 0;
}

.margin-botton {
  margin-bottom: 1.5rem;
}