.button-new {
  width: 210px;
}

h1 {
  color: var(--textGray);
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--borderGray);
}

.result-area {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}