.button-new {
  width: 210px;
}

h1 {
  color: var(--textGray);
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--borderGray);
}

.result-area {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.card-result{
  flex: 0 0 auto;
  padding: 0 0.25rem 0 0.25rem;
  margin-top: 10px;
  border: 0;
}

.card-result-container {
  display: flex;
  box-shadow: 0 1px 2px #0000005e;
  border-radius: 10px;
  background-color: var(--background-white);
}

.icon-supplier{
  display: flex;
  color: var(--textWhite);
}

.card-result-header {
  display: block;
  padding: 1rem 0.5rem 0 0;
  width: 100%;
  color: black;
}

.card-result-header h2 {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.card-area-photo {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-area-photo img {
  width: 100px;
  height: 100px;
}

.card-price-text{
  color: var(--backgroundBlue);
}

.card-result-options {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.button{
  color: var(--backgroundBlue);
  background-color: var(--textWhite);
  display: flex;
}

.button-delete {
  color: var(--mainColor);
}

.button:hover{
  background-color: #4170ae27;
}

.button-delete:hover{
  color: var(--textWhite);
  background-color: var(--mainColor);
}

.card-result-options button:first-child{
  margin-right: 0.5rem;
}
