/* Button New */
.button-new{
  margin-bottom: 10px;
  border: solid 1px var(--borderGray200);
}

.button-new:hover{
  color: var(--textWhite);
  background-color: var(--backgroundRed);
}

.button-new {
  padding: 4px;
	padding: .40rem;
	font-size: 16px;
	font-size: 1rem;
  width: 200px;
  color: var(--textWhite);
  background-color: var(--mainColor);  
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-new-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*input-group-search*/

.input-group{
  display: flex;
}

.input-search{
  display: flex;
  border-radius: 4px 0 0 4px;
}

.button-search{
  display: flex;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--mainColor);
}

.button-search:hover{
  background-color: var(--backgroundRed);
}

.button-search-icon{
  color: var(--textWhite);
  height: 24px;
  width: 24px;
}

.search-filter {
  margin-top: 10px;
}

.search-filter-container {
  display: flex;
  overflow-x: scroll;
}

/*Ocultar scroll Chrome, Safari y Opera*/
.search-filter-container::-webkit-scrollbar{
  display: none;
}

/*Ocultar scroll IE, EDGE y Firefox*/
.search-filter-container{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.button-filter{
  color: var(--textGray);
  background-color: #F7F7F7;
  margin-right: 10px;
  margin-bottom: 32px;
}

.button-filter:hover {
  background-color: var(--mainColor);
  color: var(--textWhite);
}

.button-selected{
  background-color: var(--mainColor);
  color: var(--textWhite);
}

/* ui-dialog */ 

.ui-dialog-container{
  display: none;
}

.ui-dialog-content {
  overflow-y: scroll;
  height: auto;
}

.show-dialog {
  display: block;
}

.ui-dialog {
  width: 300px;
  display: block;
  background-color: var(--backgroundPage);
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  z-index: 1;
}

.ui-dialog-header {
  display: flex;
  position: relative;
  padding: 0 20px;
  height: 50px;
  color: var(--textWhite);
  background-color: var(--mainColor);
}

.ui-dialog-title {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.ui-dialog-button {
  background-color: var(--backgroundRed);
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.ui-dialog-button:hover{
  background-color: var(--backgroundRedDark);
}

.ui-dialog-button-icon{
  color: var(--textWhite);
}

.ui-dialog-buttons-container{
  margin-top: 1.5rem;
}

.ui-dialog-button-form{
  padding: 10px;
  color: var(--textGray);
}

.ui-dialog-button-form:hover {
  color: var(--textGray);
  background-color: var(--backgroundGray);
}

.ui-dialog-button-primary {
  margin-left: 4px;
  background-color: var(--mainColor);
	border: solid 1px var(--mainColor);
  color: var(--textWhite);
}

.ui-dialog-button-primary:hover{
  color: var(--textWhite);
  background-color: var(--backgroundRed);
}

/* note-box */

.note-box{
  border: 1px dotted rgba(189,183,181,0.5);
  background-color: var(--textWhite);
  margin: 1em 0;
  padding: 0.5em 1em;
}

.note-box p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.note-box ul {
  margin: 0.5rem 0 0.5rem 1rem;
}

.note-box ul li {
  list-style-position: outside;
}

/*Card-result*/
.card-result{
  flex: 0 0 auto;
  padding: 0 0.25rem 0 0.25rem;
  margin-top: 10px;
  border: 0;
}

.card-result-container {
  display: flex;
  box-shadow: 0 1px 2px #0000005e;
  border-radius: 10px;
  background-color: var(--background-white);
}

.icon-supplier{
  display: flex;
  color: var(--textWhite);
}

.card-result-header {
  display: block;
  padding: 1rem 0.5rem 0 0;
  width: 100%;
  color: black;
}

.card-result-header h2 {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.card-area-photo {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-area-photo img {
  width: 100px;
  height: 100px;
}

.card-price-text{
  color: var(--backgroundBlue);
}

.card-result-options {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}

.button{
  color: var(--backgroundBlue);
  background-color: var(--textWhite);
  display: flex;
  border: 1px solid var(--borderGray200);
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.button-delete {
  color: var(--mainColor);
  margin-left: 0.3rem;
}

.button:hover{
  background-color: #4170ae27;
}

.button-delete:hover{
  color: var(--textWhite);
  background-color: var(--mainColor);
}

.card-result-options button:first-child{
  margin-right: 0.5rem;
}

/* Message alert */
.message{
  z-index: 1;
}

.messaje-container{
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  background-color: var(--backgroundPage);
  padding: 3rem;
}

.messaje-container p {
  margin-top: 1rem;
  color: var(--textGray);
  text-align: center;
}
.messaje-container button {
  margin-top: 1rem;
  color: var(--textWhite);
  background-color: #0f73ee;
  border-radius: 0.50rem;
  padding: 0.50rem 2rem 0.50rem 2rem;
}

.messaje-container h3 {
  color: #0f73ee;
}

.messaje-error button {
  background-color: red;
}

.messaje-error h3 {
  color: red;
}

.close-message {
  display: none;
}