/*Form*/
h1 {
  color: var(--textGray);
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-container-flex{
  display: flex;
  flex-wrap: wrap;
}

.gap-1{
  gap: 1rem;
}

.field{
  position: relative;
  margin-bottom: 1rem;
}

.field-label {
  color: var(--textGray);
}

.field-input {
  margin-top: 6px;
  width: 100%;
}

.buttons-container{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.button-form {
  padding: 10px;
  color: var(--textGray);
  border: solid 1px var(--borderGray200);
}

.button-form:hover {
  color: var(--textGray);
  background-color: var(--backgroundGray);
}

.button-primary {
  margin-left: 4px;
  background-color: var(--mainColor);
	border: solid 1px var(--mainColor);
  color: var(--textWhite);
}

.button-primary:hover{
  color: var(--textWhite);
  background-color: var(--backgroundRed);
}

/*Validaciones*/

.group-correct span {
  color: #1ed12d;
}

.group-incorrect span {
  color: #bb2929;
}

.icon {
  position: absolute;
  right: 0.8rem;
  top: 2.25rem;
}

.input-message  {
  margin-top: 0.25rem;
  font-size: 0.85rem;
  color: #bb2929;
  display: none;
}

.input-error {
  display: block;
}
