.header-container{
  background-color: var(--mainColor);
  background-color: var(--darkGrayBackGround);
  height: 48px;
}

.logo-app{
  height: 48px;
  width: 48px;
}

.primary-items a{
  background-color: var(--mainColor);
  overflow: hidden;
}

.primary-items{
  height: 48px;
  display: flex;
}

.title-header{
  align-self: center;
  margin-left: 1rem;
  font-size: 1.05rem;
  color: var(--textWhite);
  font-family: 'Kaushan Script', cursive;
}

.page-content{
  padding-top: 10rem;
  display: flex;
  justify-content: center;
}

.login-item{
  display: none;
}

.login-item h2{
  font-size: 3rem;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
}

.title-login{
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--headerColor);
}

.padding{
  padding: 1.5rem;
}

.login-container{
  border: solid 1px rgba(0,0,0,.05);
  border-radius: 3px;
  max-width: 760px;
  display: flex;
  justify-content: stretch;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.login-form-container{
  background-color: var(--background-white);
}

.field-input{
  width: 100%;
  margin-top: 0.2rem;
}

.button-login{
  color: var(--textWhite);
  border: 1px solid var(--mainColor);
  border-radius: 2px;
  background-color: var(--mainColor);
  padding: .65rem;
}

.button-login:hover{
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.field-label{
  color: var(--textGray);
  font-weight: 700;
  font-size: .875rem;
}

.forgot-password{
	font-size: 12px;
	font-size: .75rem;
  margin-top: 1.5rem;
}

.form{
  margin-top: 1rem;
}

.field{
  margin-bottom: 1.5rem;
}

.input-message  {
  margin-top: 0.25rem;
  margin-left: 0.4rem;
  font-size: 0.85rem;
  color: #bb2929;
}

@media screen and (min-width: 48em){
  .login-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--mainColor);
    color: var(--textWhite);
    width: 15.625rem;
  }
}