.button-form {
  color: var(--textWhite);
  background-color: rgb(0, 154, 0);
  border: solid 1px rgb(0, 154, 0);
}

.button-form:hover {
  color: var(--textWhite);
  background-color: green;
  border: solid 1px green;
}

.button-primary {
  margin-left: 4px;
  background-color: var(--mainColor);
	border: solid 1px var(--mainColor);
  color: var(--textWhite);
}

.button-primary:hover{
  color: var(--textWhite);
  background-color: var(--backgroundRed);
  border: solid 1px var(--mainColor);
}
