<%- include ../layouts/cabeza.ejs %> 
<link rel="stylesheet" href="/stylesheets/components.css">
<link rel="stylesheet" href="/stylesheets/products/products.css">
<%- include ../layouts/cabecera.ejs %> 

<%- include ../layouts/menu-lateral.ejs%> 

<main class="page-content" id="page-content">

  <div class="page-content-container">
    <h2>Productos</h2>
  </div>

</main>

<%- include ../layouts/pie.ejs%> 
