<%- include ../layouts/cabeza.ejs %> 
<link rel="stylesheet" href="/stylesheets/components.css">
<link rel="stylesheet" href="/stylesheets/products/products.css">
<%- include ../layouts/cabecera.ejs %> 

<%- include ../layouts/menu-lateral.ejs%> 

<main class="page-content" id="page-content">

  <div class="page-content-container">

    <a href="#" class="button-new  button-open-dialog">
      <span class="button-new-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor"><path d="M11.075 18.8v-5.875H5.2V11.05h5.875V5.175h1.875v5.875h5.875v1.875H12.95V18.8Z"/></svg> 
      </span>
      <span class="button-new-text">Crear nuevo producto</span>
    </a>

    <form action="#" role="search" class="input-area">
      <div class="input-group  col-12  col-md-6">
        <input type="search" placeholder="Buscar" class="input-search col-12">
        <button type="button" class="button-search">
          <span class="button-search-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor"> <path fill="currentColor" d="M23.354 22.646l-5-5-.012-.007a8.532 8.532 0 10-.703.703l.007.012 5 5a.5.5 0 00.707-.707zM12 19.5a7.5 7.5 0 117.5-7.5 7.508 7.508 0 01-7.5 7.5z"></path></svg>
          </span>
        </button>
      </div>
      <div class="search-filter">
        <div class="search-filter-container">
          <button class="button-filter  button-selected" type="button" id="btn-todos">
            <span class="button-text">Todos</span>
          </button>
          <button class="button-filter" type="button" id="btn-codigo">
            <span class="button-text">Código</span>
          </button>
          <button class="button-filter" type="button" id="btn-nombre">
            <span class="button-text">Nombre</span>
          </button>
          <button class="button-filter" type="button" id="btn-activos">
            <span class="button-text">Activos</span>
          </button>
          <button class="button-filter" type="button" id="btn-inactivos">
            <span class="button-text">Inactivos</span>
          </button>
        </div>
      </div>
    </form>

  </div>

</main>

<script src="/javascripts/button-selected.js"></script>
<%- include ../layouts/pie.ejs%> 
