<%- include ../layouts/cabeza.ejs %> 
<link rel="stylesheet" href="/stylesheets/components.css">
<link rel="stylesheet" href="/stylesheets/products/products.css">
<%- include ../layouts/cabecera.ejs %> 

<%- include ../layouts/menu-lateral.ejs%> 

<main class="page-content" id="page-content">

  <div class="page-content-container">

    <a href="#" class="button-new  button-open-dialog">
      <span class="button-new-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor"><path d="M11.075 18.8v-5.875H5.2V11.05h5.875V5.175h1.875v5.875h5.875v1.875H12.95V18.8Z"/></svg> 
      </span>
      <span class="button-new-text">Crear nuevo producto</span>
    </a>

  </div>

</main>

<%- include ../layouts/pie.ejs%> 
